<h2>地块技术指标</h2>
<main>
  
  <form action="/url-where-you-want-to-submit-form-data">
  
  <BR>
  <input type="text" placeholder="土地面积" required>  
  <input type="text" placeholder="总建筑面积" required>
  <input type="text" placeholder="容积率" required>
  <input type="text" placeholder="建筑密度" required>
  <input type="text" placeholder="绿化率" required>
  <input type="text" placeholder="建筑限高" required>
   </form>
  	 
	 

<form class="jotform-form" action="https://submit.jotform.com/submit/200672105780045/" method="post" name="form_200672105780045" id="200672105780045" accept-charset="utf-8" autocomplete="on">
  
  <div role="main" class="form-all">
    <ul class="form-section page-section">
      <li id="cid_1" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-default">
          <div class="header-text httal htvam">
            <h2 id="header_1" class="form-header" data-component="header">
              房产数据输入
            </h2>
          </div>
        </div>
      </li>
      </li>
      <li class="form-line" data-type="control_matrix" id="id_3">
        <label class="form-label form-label-top form-label-auto" id="label_3" for="input_3"> Type a question </label>
        <div id="cid_3" class="form-input-wide">
          <table summary="" role="presentation" cellPadding="4" cellSpacing="0" class="form-matrix-table" data-component="matrix">
            <tbody>
              <tr>
                <th style="border:none">
                   
                </th>
                <th scope="col" class="form-matrix-column-headers form-matrix-column_0">
                  <label id="label_3_col_0"> 土地面积 </label>
                </th>
                <th scope="col" class="form-matrix-column-headers form-matrix-column_1">
                  <label id="label_3_col_1"> 总建面积 </label>
                </th>
                <th scope="col" class="form-matrix-column-headers form-matrix-column_2">
                  <label id="label_3_col_2"> 容积率 </label>
                </th>
                <th scope="col" class="form-matrix-column-headers form-matrix-column_3">
                  <label id="label_3_col_3"> 建筑密度 </label>
                </th>
                <th scope="col" class="form-matrix-column-headers form-matrix-column_4">
                  <label id="label_3_col_4"> 绿化率 </label>
                </th>           
                <th scope="col" class="form-matrix-column-headers form-matrix-column_6">
                  <label id="label_3_col_5"> 建筑限高 </label>
                </th>
              </tr>
              <tr role="group" aria-labelledby="label_3 label_3_row_0">
                <th scope="row" style="text-align:left" class="form-matrix-row-headers">
                  <label id="label_3_row_0"> 土地技术指标 </label>
                </th>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_0_0" class="form-textbox" size="5" name="q1_typeA[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_0" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_0_1" class="form-textbox" size="5" name="q1_typeA[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_1" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_0_2" class="form-textbox" size="5" name="q1_typeA[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_2" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_0_3" class="form-textbox" size="5" name="q1_typeA[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_3" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_0_4" class="form-textbox" size="5" name="q1_typeA[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_4" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_0_5" class="form-textbox" size="5" name="q1_typeA[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_5" />
                </td>               
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_2">
        <div id="cid_2" class="form-input-wide">
          <div style="margin-left:156px" data-align="auto" class="form-buttons-wrapper  ">
            <button id="input_2" type="submit" class="form-submit-button" data-component="button" data-content="">
              提交
            </button>
          </div>
        </div>
      </li>
      <li style="display:none">
        Should be Empty:
        <input type="text" name="website" value="" />
      </li>
    </ul>
  </div>
  
</form>
</main>