<form class="jotform-form" action="https://submit.jotform.com/submit/200672105780045/" method="post" name="form_200672105780045" id="200672105780045" accept-charset="utf-8" autocomplete="on">
  <div role="main" class="form-all">
    <ul class="form-section page-section">
      <li id="cid_1" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-default">
          <div class="header-text httal htvam">
            <h2 id="header_1" class="form-header" data-component="header">
              强排方案测算
            </h2>
          </div>
        </div>
      </li>
      </li>
      <li class="form-line" data-type="control_matrix" id="id_3">
        <div id="cid_3" class="form-input-wide">
          <table summary="" role="presentation" cellPadding="4" cellSpacing="0" class="form-matrix-table" data-component="matrix">
            <tbody>
              <tr>                
                <th scope="row" style="border:none" class="form-matrix-row-headers">
                  <label id="label_3_row_0"> 产品类别 </label>
                </th>
                <th scope="col" class="form-matrix-column-headers form-matrix-column_0">
                  <label id="label_3_col_0"> 单套面积 </label>
                </th>
                <th scope="col" class="form-matrix-column-headers form-matrix-column_1">
                  <label id="label_3_col_1"> 首层占地 </label>
                </th>
                <th scope="col" class="form-matrix-column-headers form-matrix-column_2">
                  <label id="label_3_col_2"> 层数 </label>
                </th>
                <th scope="col" class="form-matrix-column-headers form-matrix-column_3">
                  <label id="label_3_col_3"> 单栋户数 </label>
                </th>
                <th scope="col" class="form-matrix-column-headers form-matrix-column_4">
                  <label id="label_3_col_4"> 单幢栋数 </label>
                </th>
                <th scope="col" class="form-matrix-column-headers form-matrix-column_5">
                  <label id="label_3_col_5">
                    <span style="display: inline !important;">
                      单幢户数
                    </span>
                  </label>
                </th>
                <th scope="col" class="form-matrix-column-headers form-matrix-column_6">
                  <label id="label_3_col_6">
                    <span style="display: inline !important;">
                      单幢占地
                    </span>
                  </label>
                </th>
                <th scope="col" class="form-matrix-column-headers form-matrix-column_7">
                  <label id="label_3_col_7">
                    <span style="display: inline !important;">
                      单幢建面
                    </span>
                  </label>
                </th>
                <th scope="col" class="form-matrix-column-headers form-matrix-column_8">
                  <label id="label_3_col_8"> 幢数 </label>
                </th>
                <th scope="col" class="form-matrix-column-headers form-matrix-column_9">
                  <label id="label_3_col_9"> 总占地 </label>
                </th>
                <th scope="col" class="form-matrix-column-headers form-matrix-column_10">
                  <label id="label_3_col_10"> 总建面 </label>
                </th>
                <th scope="col" class="form-matrix-column-headers form-matrix-column_11">
                  <label id="label_3_col_11"> 单价 </label>
                </th>
                <th scope="col" class="form-matrix-column-headers form-matrix-column_12">
                  <label id="label_3_col_12"> 总价 </label>
                </th>
                <th scope="col" class="form-matrix-column-headers form-matrix-column_13">
                  <label id="label_3_col_13"> 单位利润 </label>
                </th>
                <th scope="col" class="form-matrix-column-headers form-matrix-column_14">
                  <label id="label_3_col_14"> 总利润 </label>
                </th>
              </tr>
              <tr role="group" aria-labelledby="label_3 label_3_row_0">
                <th scope="row" style="text-align:left" class="form-matrix-row-headers">
                  <label id="label_3_row_0"> 别墅 </label>
                </th>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_0_0" class="form-textbox" size="5" name="q3_input3[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_0" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_0_1" class="form-textbox" size="5" name="q3_input3[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_1" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_0_2" class="form-textbox" size="5" name="q3_input3[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_2" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_0_3" class="form-textbox" size="5" name="q3_input3[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_3" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_0_4" class="form-textbox" size="5" name="q3_input3[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_4" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_0_5" class="form-textbox" size="5" name="q3_input3[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_5" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_0_6" class="form-textbox" size="5" name="q3_input3[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_6" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_0_7" class="form-textbox" size="5" name="q3_input3[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_7" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_0_8" class="form-textbox" size="5" name="q3_input3[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_8" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_0_9" class="form-textbox" size="5" name="q3_input3[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_9" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_0_10" class="form-textbox" size="5" name="q3_input3[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_10" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_0_11" class="form-textbox" size="5" name="q3_input3[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_11" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_0_12" class="form-textbox" size="5" name="q3_input3[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_12" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_0_13" class="form-textbox" size="5" name="q3_input3[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_13" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_0_14" class="form-textbox" size="5" name="q3_input3[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_14" />
                </td>
              </tr>
              <tr role="group" aria-labelledby="label_3 label_3_row_1">
                <th scope="row" style="text-align:left" class="form-matrix-row-headers">
                  <label id="label_3_row_1"> 多层 </label>
                </th>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_1_0" class="form-textbox" size="5" name="q3_input3[1][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_0" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_1_1" class="form-textbox" size="5" name="q3_input3[1][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_1" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_1_2" class="form-textbox" size="5" name="q3_input3[1][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_2" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_1_3" class="form-textbox" size="5" name="q3_input3[1][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_3" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_1_4" class="form-textbox" size="5" name="q3_input3[1][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_4" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_1_5" class="form-textbox" size="5" name="q3_input3[1][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_5" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_1_6" class="form-textbox" size="5" name="q3_input3[1][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_6" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_1_7" class="form-textbox" size="5" name="q3_input3[1][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_7" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_1_8" class="form-textbox" size="5" name="q3_input3[1][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_8" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_1_9" class="form-textbox" size="5" name="q3_input3[1][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_9" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_1_10" class="form-textbox" size="5" name="q3_input3[1][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_10" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_1_11" class="form-textbox" size="5" name="q3_input3[1][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_11" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_1_12" class="form-textbox" size="5" name="q3_input3[1][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_12" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_1_13" class="form-textbox" size="5" name="q3_input3[1][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_13" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_1_14" class="form-textbox" size="5" name="q3_input3[1][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_14" />
                </td>
              </tr>
              <tr role="group" aria-labelledby="label_3 label_3_row_2">
                <th scope="row" style="text-align:left" class="form-matrix-row-headers">
                  <label id="label_3_row_2"> 高层 </label>
                </th>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_2_0" class="form-textbox" size="5" name="q3_input3[2][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_0" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_2_1" class="form-textbox" size="5" name="q3_input3[2][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_1" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_2_2" class="form-textbox" size="5" name="q3_input3[2][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_2" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_2_3" class="form-textbox" size="5" name="q3_input3[2][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_3" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_2_4" class="form-textbox" size="5" name="q3_input3[2][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_4" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_2_5" class="form-textbox" size="5" name="q3_input3[2][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_5" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_2_6" class="form-textbox" size="5" name="q3_input3[2][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_6" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_2_7" class="form-textbox" size="5" name="q3_input3[2][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_7" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_2_8" class="form-textbox" size="5" name="q3_input3[2][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_8" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_2_9" class="form-textbox" size="5" name="q3_input3[2][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_9" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_2_10" class="form-textbox" size="5" name="q3_input3[2][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_10" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_2_11" class="form-textbox" size="5" name="q3_input3[2][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_11" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_2_12" class="form-textbox" size="5" name="q3_input3[2][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_12" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_2_13" class="form-textbox" size="5" name="q3_input3[2][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_13" />
                </td>
                <td style="text-align:center" class="form-matrix-values">
                  <input type="text" id="input_3_2_14" class="form-textbox" size="5" name="q3_input3[2][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_3_col_14" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_2">
        <div id="cid_2" class="form-input-wide">
          <div style="margin-left:156px" data-align="auto" class="form-buttons-wrapper  ">
            <button id="input_2" type="submit" class="form-submit-button" data-component="button" data-content="">
              提交
            </button>
          </div>
        </div>
      </li>
      
    </ul>
  </div>
  
</form>